.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
  }
  .home_subcontainer {
    margin-top: 120px;
  }
  .home_row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .home_image {
    transition: 0.3s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
  .home_image:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translate(0, -7px);
  }